

    :root {
    --accent-color: #2196f3;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
    }

 
    
   /* HEADER */
        
      .logo-light,.logo-accent {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.153;
    letter-spacing: 0.03em;
    color: #000000;}

    .logo-accent{
            color: var(--accent-color);
    }
    
    ul{
            display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
      
    ul{
        list-style: none;
     } 

     body{
        font-family: var(--main-font);
    background-color: var(--primary-background-color);
    }

    body{
    display: block;
    margin: 8px;
    }

    .menu-item .is-current {
     color: var(--accent-color);}

     .menu-link{
             font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
     }

     .menu-link:hover,
     .menu-link:focus{
         color: var(--accent-color);
     }

     .header-mail{
         font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
     }

     .header-tel{
         font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
     }

     .header-mail:hover,
     .header-mail:focus{
          color: var(--accent-color)
     }

     .header-tel:hover,
     .header-tel:focus{
        color: var(--accent-color)}

     a{
         text-decoration: none;
     }

            /* HERO */

        .hero{
            background-color: var(--secondary-background-color);
        }

        .hero-title{
            font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-transform: uppercase;
    color: #ffffff;
            }

     .hero-button{
                font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #ffffff;
    background-color: var(--accent-color);
            }
        


        /* description of work */

   .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

    .title{
        font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    }

    .about-title{
        font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }

        

        /* description */

    .gallery-title{
        font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }



        /* our team */
    .teams-persons{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--primary-text-color); 
    }
           

        /* footer */

    .dark{
            background-color: var(--secondary-background-color);

    }


    .logo-dark{
        font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    /* letter-spacing: 0.03em; */
    color: #ffffff;
    }
    
    .address{
            font-style: normal;
    }

    .address-position, .footer-mail, .footer-tel{
        font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
    }

     .footer-tel{
    color: rgba(255, 255, 255, 0.6);}

    .footer-mail{
     color: rgba(255, 255, 255, 0.6);}

    




    /* hero-portfolio */

    .button-filter{
        font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }

    .filter-caption{
        font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    }

    .caption-text{
        font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }

    img{
        border: 0;
    }

    .card-gallery{
            border: 1px solid #eeeeee;
    padding: 20px 24px;
}
    









